<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small> Creato da Alessandro Ciocchetti  |  <%= link_to "Rotten Tomatoes", "https://rottentomatoes.com", class: "text-white"%></small>
  </div>
</footer>
