<footer id="sticky-footer" class="py-3 bg-dark text-white">
  <div class="container text-center">
    <small> <%= link_to "Creato da Alessandro Ciocchetti", about_path, class: "text-white"%>  |  <%= link_to "Rotten Tomatoes", "https://rottentomatoes.com", class: "text-white", target: "_blank", rel: "noopener noreferrer"%></small>
  </div>
</footer>
