<div class="container" id="home-container">
  <div class="jumbotron text-center text-black mb-4">
    <h2 class="display-4">Manuale d'uso</h2>
    <p class="lead">Come apportare modifiche al blog</p>
    <hr class="my-3">
    <p class="text-left"> Finalmente. Perchè <strong>Cinemily</strong>? Per dare una risposta alla domanda frequente "Che film mi guardo questa sera?". Per chi? Per tutti gli amici che hanno voglia di suggerire un film o di commentarlo. Tre premesse:
      <ul class="text-left">
        <li> il film che aggiungi alla lista è un film che ti ha colpito positivamente e che reputi meritevole di essere visto da più persone. Giustificalo scrivendo il primo commento!  </li>
        <li> i commenti sono liberi, purché d'aiuto a chi li legge in ottica di scelta di un film da guardare. </li>
        <li> è tutto un <i>work in progress</i>. Consigli di miglioramento/segnalazioni di problemi sono ben accetti </li>
      </ul>
    </p>
  </div>
</div>
