<div class="container" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4">Manuale d'uso</h1>
    <p class="lead">Come apportare modifiche al blog</p>
    <hr class="my-4">
    <p class="text-left">Siccome il sito non è al momento pensato per essere elaborato nel dettaglio, il modo migliore per contribuire alle modifiche alla lista di film è
    modificare il campo "Descrizione" aggiungendo il commento preceduto dal nome e cognome dell'autore di tale commento. L'espressione è libera, chiunque può modificare (e chiunque può leggere...). La navigazione in alto a destra non è attiva al momento. </p>
    <%= link_to "Vai alla lista", articles_path, class: "btn btn-success btn-lg", role: "button" %>
  </div>
</div>
