<div class="container" id="home-container">
  <div class="jumbotron text-center text-white" id="picture">
    <h1 class="display-4">Benvenuti!</h1>
    <p class="lead">Questo è il blog di Ale e Fulvio </p>
    <hr class="my-4">
    <p>Potrete accedere alla lista di film visti e recensiti cliccando qua sotto. Aggiungete un vostro commento!</p>
    <%= link_to "Vai alla lista", articles_path, class: "btn btn-success btn-lg", role: "button" %>
    <small>
      <p class="text-left mt-5 font-italic" id="image"> picture from "Love Exposure" by Sion Sono </p>
    </small>
  </div>
</div>
