<div class="container" id="home-container">
  <div class="jumbotron text-center text-white" id="picture">
    <h1 class="display-4">Benvenuto in Cinemily</h1>
    <p class="lead">Lo spazio per i migliori film di nicchia prodotti in giro per il mondo </p>
    <hr class="my-4">
    <p>Puoi accedere alla lista di film visti e recensiti cliccando qua sotto. Aggiungi una tua recensione!</p>
    <%= link_to "Vai alla lista", films_path, class: "btn btn-success btn-lg", role: "button" %>
    <small>
      <p class="text-left mt-5 font-italic" id="image"> picture from "Love Exposure" by Sion Sono </p>
    </small>
  </div>
</div>
