@import 'bootstrap/dist/css/bootstrap';

.jumbotron {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

#picture {
  background-image: asset-url('unnamed.jpg');
}

#image{
  color: grey;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: green;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}
